.storeitem__container {
    transform: scale(1.1);
    display: inline-block;
    padding: 1px 10px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(100, 100, 100, 0.8);
    -webkit-box-shadow: 0 0 2px rgba(100, 100, 100, 0.8);
}

.storeitem__title {
    font-weight: 400;
    margin: 5px 0 0 0px;
}

.storeitem__image {
    margin-top: 10px;
    background-color: beige;
    width: 100%;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}

.storeitem__priceContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.storeitem__originalPriceSale {
    color: red;
    text-decoration: line-through;
    font-size: 16px;
}

.storeitem__originalPrice {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 24px;
}

.storeitem__salePrice {
    font-size: 24px;
    font-weight: 600;
}

.storeitem__addToCart {
    margin-left: auto;
    margin-top: auto;
    font-size: 15px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: grey;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.storeitem__icon {
    transform: scale(1.3);
    color: #0a4c96;
}

.storeitem__hr {
    margin-bottom: 0;
}