.review-wrapper {
    padding: 90px 20px 40px;
    width: 230px;
    height: 280px; 
    margin: 10px auto;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(100, 100, 100, 0.8);
    -webkit-box-shadow: 0 0 2px rgba(100, 100, 100, 0.8);
}

.review-image-wrapper {
    width: 80px;
    margin: -130px auto 10px;
}

.review-image {
    background-color: #e5e5e5;
    border-radius: 300px;
    box-shadow:0 -1px 2px rgba(100, 100, 100, 0.8);
    -moz-box-shadow:0 -1px 2px 0 rgba(100, 100, 100, 0.8);
    -webkit-box-shadow:0 -1px 2px 0 rgba(100, 100, 100, 0.8);
    -khtml-box-shadow:0 -1px 2px 0 rgba(100, 100, 100, 0.8);
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    height: 180px;
}

.quote-card {
    font-family: 'Bad Script', cursive;
    line-height: 30px;
    font-size: 18px;
    margin: auto;
}

.quote-by-card {
    margin-top: 15px;
    font-size: 13px;
}