.header__container {
    display: flex;
    background-color: var(--dark-blue);
    height: 80px;
    width: 100%;
    list-style-type: none;
}

.header__image {
    height: 55px;
    width: auto;
    margin: auto 10px;
}