/* COLOUR SCHEME */
:root {
  --bright-blue: rgb(29,0,255);
  --dark-blue: rgb(9,3,138);
  --darkest-blue: #010257;
}

/* DEFAULT STYLES FOR TEXT */

html,
body {
  font-family: "open sans", "Raleway", "Arial", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h3 {
  font-family: "open sans", sans-serif;
}

p,
a {
  font-family: "Raleway", sans-serif;
}

/* GLOBAL STYLES */

hr {
  border-color: #03038a23;
  border-width: 1px;
}

.rotate-left {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  margin: 40px 100px;
}

.rotate-right {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  margin: 40px 100px;
}